.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    text-align: center;
}

p{
    font-family: "Roboto";
    font-size: 30px;
    margin-bottom: 20px;
}

mat-form-field{
    width: 600px;
}

button{
    width: 100px;
}